* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */

/* body{
    width: 100vw;
    height: 100vh;
    
} */

.header {


    /* border: green 1px solid; */
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.iconDivs {
    width: 100%;
    display: flex;
    margin: 0 25px;
}


.iconD {
    display: flex;
    /* border: yellow 2px solid; */
    padding: 10px;
    height: 100%;
    align-items: center;
    font-size: 15px;
}

.iconD img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.iconD a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.addressDiv {
    margin-right: 20px;
    /* border: 2px blue solid; */
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;


}

.address {
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.addressDiv img {
    margin: 0 10px;
    margin-top: 5px;
    width: 20px;
    height: 20px;

}


/* navbar*/

.navbar {

    width: 100%;
    /* background: wheat; */
    display: flex;
    /* justify-content: space-between; */


}




.navbar ul {

    flex: 0.5;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* border: 5px groove goldenrod; */
    height: 100%;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: whitesmoke;

}

.ulDiv {

    flex: 5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.navbar ul li {
    position: relative;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 15px;

}

.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;

}


.navbar ul li::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* height: 100%; */
    border: 3px solid yellow;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.6s;

}

.navbar ul li:hover::before {
    opacity: 1;
    bottom: -1px;
    right: -1px;

}



.navbar ul li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* height: 100%; */
    border: 3px solid yellow;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.6s;
    overflow: hidden;

}




.navbar ul li:hover:after {
    opacity: 1;
    top: -1px;
    right: -1px;
}

.navbarImgDiv {
    /* border: 5px inset goldenrod; */
    cursor: pointer;
}

.navbar img {

    padding: 5px;
    width: 300px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.abousUsImage {
    height: 120px;
    width: 100%;
}


.aboutUsContainer{
    display: flex;
    justify-content: space-evenly;
    
}

.textContainer{
    border: 1px solid black;
    width: 700px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}

p{
    margin: 15px;
    letter-spacing: 1px;
    text-align: justify;
}


.abmvitra-sanalturDiv img{
    width: 370;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}