@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@100&family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/* font-family: 'Permanent Marker', cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;

}


body {
    
    background-color: #222534;
   
}




/* üst iconlar facebook instagram adres baslangıc */



.header {

    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 25px;
}




.iconContainer {
    display: flex;
    width: 100%;
    margin-left: 10px;
}

.iconD {
    display: flex;
    padding: 10px;
    height: 100%;
    align-items: center;

}

.header img {

    margin-right: 10px;
    width: 20px;
    height: 20px;
    align-items: center;
}

.iconD a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}


.addressDiv {
    width: 100%;
    margin-right: 20px;


    display: flex;
    justify-content: right;

    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}



/* üst iconlar facebook instagram adres son */









.ulDiv {
    display: flex;
    /* border: 2px solid yellow; */
}



.navbarUl {
    list-style: none;
    background-color: #222534;
    /* background-color: blue; */
    /* padding: 5px; */
    position: relative;
    display: flex;
    flex: 10;
    width: 100%;
    z-index: 1;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;

}

.navbarUl li {

    margin-bottom: 10px;
    margin-left: 5px;
    width: 100%;

    align-items: center;
    flex: 3;

    list-style-type: none;
}


.ulDiv ul p:hover {
    background: white;
    color: black;
    transition: 1s ease;

}

.navbarUl li a {
    text-decoration: none;


}

.navbarUl li p {
    text-align: center;
    

    color: gold;
    
    position: relative;
    height: 50px;
    
    border-radius: 10px;
    border: 1px gray solid;

    padding: 10px;
    font-family: 'Poppins Arial';
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: #222534;

}






.navbarImgDiv2 {
    
    display: flex;
    width: 100%;
    flex: 15;
    
}


.navbarImgDiv2 img {

    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 55px;
    /* display: none; */

}


/* ------------------------------------------ */

.dropdownDiv {


    /* display: none; */
    position: absolute;



    /* position: relative; */
    /* width: 50%; */
    z-index: 1;

    overflow: hidden;


    max-height: 0;
    transition: 1s;

    top: -50px;

}


.dropdownGallery {
    /* border: 2px solid yellow; */
    position: relative;

}










.dropdownGallery:hover .dropdownDiv {
    display: block;
    /* z-index: 1; */
    /* border-radius: 15px; */
    /* width: 100%; */

    overflow: visible;
    min-height: 180px;

    top: 53px;
    /* right: -10px; */

}




.icon {
    color: white;
    display: none;
    font-size: 30px;
    right: 0;
    top: 0;
    z-index: 1;
}



@media screen and (max-width: 1720px) {


    .navbarImgDiv2 {
        flex: 1;
    }

}



@media screen and (max-width: 1351px) {
    .ulDiv li {
        display: none;


    }

    .ulDiv a.icon {
        float: right;
        display: block;
        text-decoration: none;
        text-align: right;
        margin-right: 10px;
        right: 0;
        top: 0;
    }

    .ulDiv.responsive .icon {
        position: absolute;
        right: 10px;
        top: 0px;

    }

    .navbarUl li {
        width: 100%;
        text-align: center;
    }

    .ulDiv.responsive li {

        display: block;
        text-align: left;
    }


    .ulDiv ul {

        height: auto;
        /* display: flex; */
        flex-direction: column;



    }


    .dropdownDiv {
        position: relative;



    }






    .dropdownGallery:hover .dropdownDiv {
        display: flex;
        /* z-index: 1; */
        /* border-radius: 15px; */
        /* width: 100%; */
        justify-content: center;
        overflow: visible;
        min-height: 180px;

        top: 5px;


    }


    .navbarUl li {

        width: 75%;



    }

}

@media screen and (max-width: 1000px) {
    .ulDiv.responsive {
        position: relative;

    }

    .navbarUl.responsive .icon {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
    }



    .ulDiv ul {

        height: auto;
        display: flex;
        flex-direction: column;


    }

    .navbarUl li {

        width: 75%;
    }
}






@media (max-width: 1100px) {



    .menuIcon {
        margin: 10px;
        display: block;

    }

    .navbarImgDiv {
        display: none;
    }

    .navbarImgDiv2 img {

        border-radius: 55px;
        display: inline;

    }


    .navbarUl li {
        width: 75%;
    }



}


.navbarImgDiv2 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}










@media (max-width: 775px) {








    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .iconContainer {
        justify-content: center;
    }

    .addressDiv {
        justify-content: center;
    }


    .navbarUl li {
        width: 75%;
    }

}


@media (max-width: 650px) {





    .mainPageImages {
        margin: 10px 0;
    }






}