/* INDEX.HTML CSS  */

/* anasayfa büyük resimler başlangıç */


.panel {

    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    transition: flex 0.5s ease-in;

    border: 6px solid black;
    box-shadow: rgba(177, 33, 33, 0.75) 0px 5px 15px;
}

.mainPageImages {
    /* margin: 30px 30px; */
    width: 100%;


}

/* anasayfa büyük resimler bitiş */



/* changingPictures start */

.bodyContainer1 {




    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px 0px;
    width: 100%;



}




.changingPictures1 {
    border: 5px solid black;
    box-shadow: rgba(177, 33, 33, 0.75) 0px 5px 15px;

    width: 375px;

    height: auto;

}

/* changingPictures finish */



.shopPhotos360degree img {


    width: 350px;
margin-left: 20px;

    height: auto;

    box-shadow: rgba(177, 33, 33, 0.75) 0px 5px 15px;

    border: 5px solid #ccc;

}



hr {
    display: flex;
    content: "";
    width: 100%;
    height: 8px;
    background: blue;
    box-shadow: rgba(177, 33, 33, 0.85) 0px 15px 25px;

    border-radius: 50px;
    justify-content: center;

}



.vitraAndFacebook {
    /* border: 5px solid yellow; */
    margin: 15px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;


}

.vitraLinkDiv {

    display: flex;


    justify-content: center;

    height: auto;


}


.vitraLinkDiv a img {
    position: relative;
    border: 5px solid palegoldenrod;
    margin: 10px;
    width: 350px;
    /* height: 260px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;


}


.vitraLinkDiv a img:hover {
    opacity: 0.9;
    box-shadow: rgba(177, 33, 33, 0.75) 0px 5px 15px;
    top: 3px;
    right: 3px;
}




.facebookframeDiv {
    /* width: 400px; */
    display: flex;
    justify-content: center;
}

.facebookIframe {
    width: 370px;
    position: relative;
    margin-top: 10px;
    border: 3px solid palegoldenrod;
    padding: 10px;
    box-shadow: rgba(177, 33, 33, 0.75) 0px 5px 15px;
    transition: 1s;
}

.facebookIframe p {
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}


.facebookIframe:hover {
    opacity: 0.9;
    box-shadow: rgba(177, 33, 33, 0.75) 0px 5px 15px;
    top: 3px;
    right: 3px;
    border: inset 3px black;
}



@media (max-width: 1300px) {








    .vitraAndFacebook {

        display: inline-block;
        text-align: center;


    }


}



@media (max-width: 857px) {





    .vitraLinkDiv {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .vitraAndFacebook {
        border: 5px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .bodyContainer1 {
        display: inline-block;
        text-align: center;
    }



}




@media (max-width: 350px) {





    .vitraLinkDiv {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .vitraAndFacebook {
        border: 5px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .bodyContainer1 {
        display: flex;
        text-align: center;
    }

    .facebookframeDiv {
        scale: 0.8;
    }

   

}