/* mainPageImages */





.panel {
    border: 2px solid black;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    transition: flex 0.5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 5px inset gray;
}




/* //changingPictures */


.bodyContainer1 {

    display: flex;
    justify-content: space-evenly;


}

.changingPicturesDiv {

    display: flex;
    width: 510px;
    height: auto;
    /* position: relative; */
    overflow: hidden;
    margin: 10px;
    border: 5px solid #ccc;

}

.changingPictures1 {
    border: 5px solid black;
    width: 500px;
    height: auto;
    /* display: none; */
}

.shopPhotos360degree {
    margin: 10px;
    display: flex;
    
    height: auto;

    border: 5px solid #ccc;
    margin-left: 20px;
}

.shopPhotos360degree {
    width: 360px;
    height: 320px;
    overflow: hidden;
}

hr {
    content: "";
    width: 90%;
    height: 5px;
    background: gray;
    margin: 0 20px;
    border-radius: 50px;
}



.vitraLinkDiv {

    display: flex;
    flex-direction: column;

}


.vitraLinkDiv1 a img {
    margin: 10px;
    width: 375px;
    height: 260px;

}

.vitraLinkDiv2 a img {
    margin: 10px;
    width: 375px;
    height: 260px;
}

.vitraAndFacebook {

    display: flex;
    justify-content: space-around;
}

.facebookIframe {
    margin: 20px;
}


@media (max-width: 1105px) {

    .bodyContainer1 {
        display: block;
        /* width: auto; */
    }

    .changingPictures1 {
        width: 500px;
    }

    .vitraAndFacebook {
        display: block;
    }

    hr {
        width: auto;
    }

}